.about {
    width: 80%;
    max-width: 1000px;
    max-height: 250px;
    flex: 1 1 auto;

    padding: 20px;
    border-radius: 5px;

    background-color: $bg-emphasis-color;

    @include flex-item(row, nowrap);
    align-items: center;

    &__header {
        font-size: $font-size * 2;
        font-weight: bold;
        font-style: italic;
        // text-indent: 1em;
    }

    &__content {
        padding-left: 5px;
    }

    &__paragraph {
        font-size: $font-size * 1.5;
        font-weight: 500;
    }
}